<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% if site.tags != "" %}
	{% include collecttags.html %}
  {% endif %}

  <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet" />
  <link href="{{ "/assets/css/colors-light.css" | prepend: site.baseurl }}" rel="stylesheet" />
  <link href="{{ "/assets/css/microblog.css" | prepend: site.baseurl }}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i|Source+Serif+Pro" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="RSS Posts" href="{{site.baseurl }}/feed.xml">
  <link rel="alternate" type="application/json" title="JSON Posts" href="{{site.baseurl }}/feed.json">
  <link rel="alternate" type="application/json" title="JSON Microblog Posts" href="{{site.baseurl }}/microblog-feed.json">
  <link href="https://micro.blog/kwlblt" rel="me" />

</head>

<body>



  <header id="header">
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
  </header>



  <div id="page">



    <div id="sidebar">
      <nav>
        <ul>
          <li><a href="{{ "/archives" | prepend: site.baseurl }}">Archive</a></li>
          <li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
          <li><a href="https://micro.blog/kwlblt">Micro.blog</a></li>
        </ul>
      </nav>
    </div>



    <div id="content">
      {{ content }}
    </div>



  </div>



  <footer id="footer">
    <p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} // <a href="https://github.com/kbro237/kbro237.github.io">Source</a> // <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a> // <a href="{{ "/feed.json" | prepend: site.baseurl }}">JSON Feed</a></p>
  </footer>



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>




</body>
</html>
