---
layout: default
---

<div class="microblog-post--single">

	{% if page.mf-photo != null %}
	<div class="media">
		{% for photo in page.mf-photo %}
		<img class="u-photo" src="{{photo}}" alt="" />
		{% endfor %}
	</div>
	{% endif %}
  {{ content }}
</div>
<footer class="microblog-post__footer">
  <time datetime="{{ page.date | date_to_xmlschema }}"><a href="{{ page.url }}" title="Permalink to Microblog post">{{ page.date | date: "%a, %b %d, %Y at %I:%M%P" }}</time></a>
  <p>Join the conversation on <a href="https://micro.blog/kwlblt">Micro.blog!</p>
</footer>
